.form-center{
    
    justify-content: center;
    
}
.form-center form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
}

form   input {
        width: 200px;
        height: 35px;
        padding:7px;
        outline: none;
        border-radius: 5px;
        border: 1px solid rgb(200, 220, 220);

        &:focus {
            border: 2px solid rgba(0, 256, 158, 1);
        }
  
    }

form    textarea {
        max-width:100%;
        min-width:100%;
        width:100%;
        max-height:100px;
        min-height:100px;
        padding:7px;
        outline:none;
        border-radius:5x;
        border: 1px solid rgb(220, 220, 200);

        &:focus {
            border:2px solid rgba(0, 206, 158, 1);
        }
    }
    label{
        margin-top: 1rem;
    }
    input[type='submit']{
        margin-top: 2rem;
        cursor:pointer;
        background: rgb(249, 185, 14);
        color: white;
        border:none;
    }

